---
//src/pages/kontakt/sukces.astro
import Layout from '../../layouts/Layout.astro';
const pageTitle = 'Wiadomość Wysłana - Dziękuję!';
const pageDesc =
  'Strona podziękowania za wysłanie wiadomości poprzez formularz kontaktowy.';
---

<Layout title={pageTitle} description={pageDesc} noIndex={true}>
  <main class="container my-5 text-center">
    <div class="py-5">
      <h1 class="display-4">Dziękuję za wiadomość!</h1>
      <p class="lead">
        Twoja wiadomość została wysłana pomyślnie. Odezwę się najszybciej, jak
        to tylko możliwe.
      </p>
      <a href="/" class="btn btn-primary mt-3">Wróć na stronę główną</a>
    </div>
  </main>
</Layout>
