---
import Layout from '../layouts/Layout.astro';
---

<Layout title="O Mni">
  <main class="container my-5">
    <h1 class="text-center">O Mnie</h1>
    <img class="profile_picture" src="../src/assets/images/profile_picture.jfif">
    <p class="imie">Jacek Kucharski</p>
    
    <p class="text-center lead"></p>
    <div class="podzialy">
      <p class="tytulowe">Kim jestem?</p>
      <p class="opisowe">Mam 35 lat i od ponad dekady pracuję jako programista. Łączę doświadczenie techniczne z analitycznym podejściem do rozwiązywania problemów, a w swojej pracy stawiam na jakość, przejrzystość i skuteczność</p>
    </div>
    <div class="podzialy">
      <p class="tytulowe">Czym się zajmuję?</p>
      <p class="opisowe">Specjalizuję się w tworzeniu aplikacji webowych i systemów dedykowanych. Projektuję rozwiązania dopasowane do potrzeb biznesu, dbając o skalowalność, bezpieczeństwo i zgodność z najlepszymi praktykami programistycznymi.</p>
    </div>
    <div class="podzialy">
      <p class="tytulowe">Moje zainteresowania</p>
      <p class="opisowe">Poza pracą chętnie rozwijam swoje umiejętności, śledząc nowe technologie i trendy w branży IT. Interesuję się również architekturą oprogramowania, automatyzacją procesów oraz projektami open source</p>
    </div>
  </main>
</Layout>
