---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Kontakt">
  <main class="container my-5">
    <h1 class="text-center">Kontakt</h1>
    <p class="text-center lead">Ta strona jest w budowie.</p>
  </main>
</Layout>
