---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import FeaturedProjects from '../components/FeaturedProjects.astro';
import WorkPhilosophy from '../components/WorkPhilosophy.astro';
import LatestBlogPosts from '../components/LatestBlogPosts.astro';
import FinalCTA from '../components/FinalCTA.astro';

import { getCollection, type CollectionEntry } from 'astro:content';

import { projectsData } from '../data/projects';

const allPosts = await getCollection('blog');

allPosts.sort(
  (a: CollectionEntry<'blog'>, b: CollectionEntry<'blog'>) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const latestPosts = allPosts.slice(0, 2);
const featuredProjects = projectsData.slice(0, 3);
---

<Layout title="Jacek Kucharski - Full-Stack Web Developer">
  <main>
    <Hero />
    <FeaturedProjects projects={featuredProjects} />
    <WorkPhilosophy />
    <LatestBlogPosts posts={latestPosts} />
    <FinalCTA />
  </main>
</Layout>
