---
// src/pages/kontakt.astro

import Layout from '../layouts/Layout.astro';
import ContactForm from '../components/ContactForm.astro';
const pageTitle = 'Kontakt - Jacek Kucharski';
const pageDesc =
  'Masz pomysł na projekt lub propozycję współpracy? Skontaktuj się z Jackiem Kucharskim poprzez formularz lub znajdź mnie w mediach społecznościowych.';
---

<Layout title={pageTitle} description={pageDesc}>
  <main class="container my-5">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="text-center mb-4">
          <h1 class="display-5 fw-bold">Napisz do mnie</h1>
          <p class="lead text-muted">
            Masz pytanie, propozycję współpracy lub po prostu chcesz się
            przywitać?
          </p>
        </div>

        <ContactForm />
      </div>
    </div>
  </main>
</Layout>
