---
// file: src/components/FinalCTA.astro
---

<section class="final-cta py-5 bg-dark text-white">
  <div class="container text-center">
    <h2 class="display-5 fw-bold">Masz pomysł na projekt?</h2>
    <p class="lead my-4">
      Porozmawiajmy o tym, jak możemy razem stworzyć coś wyjątkowego. <br /> Jestem
      otwarty na nowe wyzwania i propozycje współpracy.
    </p>
    <a href="/kontakt" class="btn btn-primary btn-lg">Napisz do mnie</a>
  </div>
</section>
