---
// src/components/Footer.astro

const currentYear = new Date().getFullYear();
---

<footer class="bg-dark text-white text-center py-3">
  <div class="container">
    <p class="mb-0">&copy; {currentYear} Jacek Kucharski</p>
  </div>
</footer>
