---
// src/components/Giscus.astro
---

<div id="giscus-container"></div>

<script>
  /**
   * Functions to manage the loading and updating of the Giscus comment system.
   */
  function addGiscusScript() {
    if (document.getElementById('giscus-script')) return;

    const script = document.createElement('script');
    script.id = 'giscus-script';
    script.src = 'https://giscus.app/client.js';
    script.setAttribute('data-repo', 'n1ghtmare13/portfolio-blog-projekt');
    script.setAttribute('data-repo-id', 'R_kgDOPsufQQ');
    script.setAttribute('data-category', 'Komentarze do Postów');
    script.setAttribute('data-category-id', 'DIC_kwDOPsufQc4Cv1xi');
    script.setAttribute('data-mapping', 'pathname');
    script.setAttribute('data-strict', '0');
    script.setAttribute('data-reactions-enabled', '1');
    script.setAttribute('data-emit-metadata', '0');
    script.setAttribute('data-input-position', 'top');
    script.setAttribute('data-theme', 'catppuccin_latte');
    script.setAttribute('data-lang', 'pl');
    script.setAttribute('crossorigin', 'anonymous');
    script.async = true;

    document.getElementById('giscus-container')?.appendChild(script);
  }

  function updateGiscus() {
    const iframe = document.querySelector<HTMLIFrameElement>(
      'iframe.giscus-frame'
    );
    if (!iframe) return;

    iframe.contentWindow?.postMessage(
      { giscus: { setConfig: { term: window.location.pathname } } },
      'https://giscus.app'
    );
  }

  function initializeGiscus() {
    // Check if the document is already fully loaded
    if (document.readyState === 'complete') {
      // If so, load the script immediately.
      addGiscusScript();
    } else {
      // If not, wait for the 'load' event.
      window.addEventListener('load', addGiscusScript, { once: true });
    }

    // Regardless, listen for page changes for View Transitions.
    document.addEventListener('astro:page-load', updateGiscus);
  }

  // Start the whole logic right away.
  initializeGiscus();
</script>
