---
// src/components/Giscus.astro
---

<div id="giscus-container"></div>

<script>
  /**
   * Functions to manage the loading and updating of the Giscus comment system.
   */
  function renderGiscus() {
    const container = document.getElementById('giscus-container');
    if (!container) {
      return;
    }

    while (container.firstChild) {
      container.removeChild(container.firstChild);
    }

    const script = document.createElement('script');
    script.src = 'https://giscus.app/client.js';
    script.setAttribute('data-repo', 'n1ghtmare13/portfolio-blog-projekt');
    script.setAttribute('data-repo-id', 'R_kgDOPsufQQ');
    script.setAttribute('data-category', 'Komentarze do Postów');
    script.setAttribute('data-category-id', 'DIC_kwDOPsufQc4Cv1xi');
    script.setAttribute('data-mapping', 'pathname');
    script.setAttribute('data-strict', '0');
    script.setAttribute('data-reactions-enabled', '1');
    script.setAttribute('data-emit-metadata', '0');
    script.setAttribute('data-input-position', 'top');
    script.setAttribute('data-theme', 'catppuccin_latte');
    script.setAttribute('data-lang', 'pl');
    script.setAttribute('crossorigin', 'anonymous');
    script.async = true;

    container.appendChild(script);
  }

  // Listening for Astro's page load event to re-render Giscus on navigation.
  document.addEventListener('astro:page-load', renderGiscus);
</script>
