---
// src/components/Meta.astro

import { ClientRouter } from 'astro:transitions';
import Analytics from '../components/Analytics.astro';
import Favicons from '../components/Favicons.astro';

export interface Props {
  title: string;
  description?: string;
  noIndex?: boolean;
}
const { title, description, noIndex } = Astro.props;
---

<meta charset="UTF-8" />
<meta name="description" content="Portfolio – projekty i blog." />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<Favicons />
<ClientRouter />
<title>{title} | Portfolio Projekt</title>
{noIndex && <meta name="robots" content="noindex, follow" />}
<Analytics />
